.people-personal {
  margin-top: 87px;
  margin-bottom: 88px; }
  .people-personal .details {
    padding-top: 0; }

.person__navigation {
  padding-top: 25px; }

@media screen and (max-width: 900px) {
  .people-personal .details {
    text-align: center; }
  .person__navigation {
    padding-top: 5px; } }

@media screen and (max-width: 500px) {
  .people-personal {
    margin: 0; } }
